*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-shadow: border-box;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
   
}
nav ul li{
    display: inline-block;
    margin: 10px 10px;
}

nav ul li a{
    color: #555555;
    text-decoration: none;
}

h1{
    margin-top: 10px;
    text-align: center;
}


#box{
    background-color: #555555;
    border-radius: 10px;
    height:155px;
    width: 395px;
    padding-left: 13px;
    padding-top: 10px;
    margin-left: 20%;
    margin-top: 40px;
    float: left;
    text-align: center;
}

p{
    margin-top: 3.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    padding-left: 52%;
    height: 100px;
    width: 350px;
    margin-right: 50%;
    text-decoration: none;
    text-align: justify;
    color: #363636;
    
}

.box1{
    text-align: center;
    
}

.head{
    text-align: center;

}

.para{
    text-align: center;
}

#box2{
    border:2px solid;
    height: 250px;
    width:200px;
    text-decoration: none;
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 300px;
}
